.modal {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100dvh;
  background-color: #0000004d;
  justify-content: center;
  display: flex;
  align-items: center;
  visibility: hidden;
  z-index: 100;
}

.modal_is-opened {
  visibility: visible;
}

.modal__title {
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 24px;
}

.modal__close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.modal__close-icon {
  width: 100%;
  height: 100%;
}

.modal__content {
  background-color: #fff;
  position: relative;
  padding: 28px 28px 36px;
  max-width: 496px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 20px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.modal__input {
  display: block;
  border: none;
  border-bottom: 1px solid #000000;
  outline: none;
  padding: 12px 0px 4px;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  width: 100%;
}

.modal__input:focus {
  border-bottom: 2px solid #2f2f2f;
}

.modal__radio-input {
  accent-color: #000000;
  margin-right: 8px;
  margin-bottom: 13px;
  height: 16px;
  width: 16px;
}

.modal__radio-input:checked ~ span {
  color: #000000;
}

.modal__radio-btns {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.modal__legend {
  margin-bottom: 12px;
}

.modal__label_type_radio {
  color: #a0a0a0;
  cursor: pointer;
  margin: 0px;
}

.modal__submit {
  align-self: flex-start;
  padding: 12px 24px;
  margin: 0px;
  border-radius: 8px;
  background-color: #000000;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.modal__submit:hover:not(:disabled) {
  background-color: #00000099;
}

.modal__submit:disabled {
  background-color: #0000004d;
  color: #fff;
  cursor: not-allowed;
}

@media screen and (max-width: 767px) {
  .modal__content {
    width: 346px;
    max-height: 100%;
  }

  .modal__close {
    padding: 0;
  }

  .modal__submit {
    width: 300px;
    border-radius: 4px;
    height: 44px;
  }

  .modal_type_form {
    align-items: flex-end;
    left: -525px;
    top: -60px;
  }

  .modal_type_form .modal__content {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 0;
  }
}
