.cards {
  display: flex;
  flex-direction: column;
  margin: 15px 0px;
}

.cards__text {
  margin: 20px 0px 29px 0;
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 21px;
}

@media screen and (max-width: 767px) {
  .cards__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    width: 305px;
  }

  .cards__text {
    font-size: inherit;
    margin: 16px 0px 20px 0;
  }
}
