.modal__content_type_image {
  border-radius: 16px;
  padding: 0px;
  max-width: 498px;
  width: 100%;
  position: relative;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}

.modal__close {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
.modal__image {
  width: 100%;
  max-height: 498px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: 1px #0000004d;
}

.modal__footer {
  align-content: center;
  padding: 16px 25px;
}

.modal__caption {
  font-size: 20px;
  font-weight: 700px;
  margin: 0;
}

.modal__weather {
  margin-bottom: 18px;
  margin-top: 12px;
}
