.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 54px 24px 24px 24px;
  margin-top: 80px;
}

.footer__copyright,
.footer__year {
  margin: 0;
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 16px;
    margin: 35px 29px 20px -26px;
    gap: 106px;
    justify-content: revert;
  }

  .footer__copyright,
  .footer__year {
    flex-shrink: 0;
    font-weight: 500;
  }
}
